<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>

<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <td>City</td>-->
<!--        <td>Country</td>-->
<!--        <td>Total Museums</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="city : ${cityList}">-->
<!--        <td th:text="${city.cityName}"/>-->
<!--        <td th:text="${museum.country}"/>-->
<!--        <td th:text="${museum.totalMuseums}"/>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->


</body>
</html>